{{> head }} {{> nav }}
<div class="container-fluid">

  <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="container">
{{body}}

        {{#each page}}
          <div class="row">
            <div class="card clearfix">
              <figure class="col-md-4">
                <img src="images/{{ featuredImage }}" alt="{{ this.title }}" class="img-responsive">
              </figure>
              <!-- end col md 4 -->
              <article class="col-md-6">
                <h2>{{ title }}</h2>
                {{ excerpt }}
              </article>
              <!-- end col md 8 -->
              <div  class="details col-md-2 col-xs-2">
                <dl>
                {{#each detail}}
                  <dt>{{ dt }}</dt>
                  <dd>{{ dd }}</dd>
                {{/each}}
                </dl>                <!-- sidebar -->
              </div>
              <!-- end details col md 5 -->
            </div>
            <!-- end card -->
          </div>
          <!-- end row-->
        {{/each}}
      </div>
    </div>

  </div>
</div>

{{> footer }} {{> jsHook }} {{> foot }}
